@charset "utf-8";/* Yoorim Mobile Package (/m.layouts/yoorim_m_v1/) */
body{margin:0;background:#f0f0f0;color:#000;word-wrap:break-word}
body,input,textarea,select,button,table{font-family:Tahoma,Geneva,sans-serif}
legend{position:absolute;width:0;height:0;overflow:hidden;font-size:0;line-height:0;visibility:hidden}
input[type=checkbox],
input[type=radio]{width:14px;height:14px;margin:0;padding:0}
a{text-decoration:none}
/* Common */
.fl{float:left}
.fr{float:right}
/* Header */
.hd{min-height:30px;line-height:30px;padding:6px 10px 11px;margin:0;border-bottom:1px solid #ccc;background:#555 -webkit-gradient(linear,0% 0%,0% 100%,from(#222),to(#333),color-stop(0.1,#333),color-stop(0.9,#4b4b4b));background:#555 -moz-linear-gradient(top,#222,#333);background-color:#555}
.hd .h1{float:left;display:inline;color:#fff;font-size:22px;margin:4px 0 0;font-weight:bold;text-shadow:1px 1px 1px #000}
.hd .h1 a{color:#fff}
.hd .h1 img{border:0}
.mu,
.muon{padding:0 9px 0 10px;margin:0 -1px;font-size:12px;display:inline-block;height:30px;line-height:30px;font-weight:bold;color:#fff;text-decoration:none;text-shadow:1px 1px 1px #000;border:1px solid #222;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#333 -webkit-gradient(linear,0% 0%,0% 100%,from(#555),to(#222),color-stop(0.5,#333),color-stop(0.5,#111));background:#333 -moz-linear-gradient(top,#555,#222);background-color:#333}
.muon:before{content:"‹";margin:0 2px 0 0;font-size:12px;line-height:12px;font-family:Verdana, Geneva, sans-serif}
.muon{float:right;padding:0 11px 0 8px;margin:-41px 9px 3px 0}
.mbn.mu{padding:0 0 0 1px;vertical-align:middle}
.mbn.mu:after{content:"";display:block;height:30px;line-height:30px}
.mbn.mu img{width:16px;height:16px;padding:7px;vertical-align:middle}
#on{display:none}
#muon{height:32px;line-height:30px;margin:-32px -1px 3px 3px}
/* Body */
.bd{padding:0;margin:0;background:#f0f0f0}
/*  Hx */
.hx:after{height:0}
.hx.h2{padding:8px 10px 10px;color:#000}
.hx.h2 a{color:#000;text-decoration:none}
.hx.h2 .write{border:1px solid #999}
.hx.h3{padding:7px 10px 6px;color:#333;text-shadow:none}
.hx.h2+.hx.h3{padding:4px 10px;background:#fff;border:1px solid #ddd;border-width:1px 0}
/* Form Field */
.origin{padding:10px 0;margin:0 10px;font-size:14px}
.ff{margin:0;padding:0}
.ff ul{margin:0 10px 10px;padding:10px 0 0;list-style:none}
.ff li{margin:0 0 5px;padding:0}
.ff label+input[type=text],
.ff label+input[type=password],
.ff label+textarea,
.ff label+select{display:block;width:96%;font-size:16px;margin:4px 0;border-color:#999}
.ff label+select{width:100%}
.ff label+input[type=text],
.ff label+input[type=password],
.ff label+textarea{padding:5px}
.ff label{display:inline-block;margin-right:10px}
.ff p{margin:0 0 15px;font-size:12px}
.ff input[name=keep_signed]{margin:5px 0 0 3%}
.ff .bn{float:right;position:absolute;top:-38px;right:3%}
/* Login Form */
.bg{display:none;position:fixed;left:0;top:47px;width:100%;padding:5px 0;border:1px solid #444;border-width:1px 0;box-shadow:0 5px 20px #333;-moz-box-shadow:0 5px 20px #333;-webkit-box-shadow:0 5px 20px #333;background:#222;z-index:100}
#login .wr{width:76%;padding:15px 0 5px;margin:0 auto;border:0}
#login .ff{padding:0}
#login .ff ul{margin:0}
#login .ff label{display:inline;padding:0;font-size:14px;line-height:16px;color:#ddd}
#login .ff label+input[type=text],
#login .ff label+input[type=password],
#login .ff label+textarea{display:block;width:96%;font-size:20px;font-weight:bold;padding:5px 2%;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px}
#login .ff .bna{margin:0 0 -15px}
#login .ff .bn.dark{float:none;position:relative;top:0;right:0;margin-top:-5px}
#login .ff input[name=keep_signed]{margin:0;font-size:14px}
#login .help{padding:9px 0;border-top:1px solid #666}
#login .help li{list-style:none;font-size:14px;line-height:1.6}
#login .help a{padding:0;color:#ddd}
/* Member Info */
#my{padding:15px 0 5px}
#my .hx.h2{padding:15px 10px 0 10px;margin:0;font-size:18px;line-height:20px;color:#fff;text-shadow:0 1px 1px #000 !important;border:0;background:none !important}
#my .sn{padding:10px 9px;margin:0;border:0}
#my ul{padding:5px 7px;margin:0;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;background:#eee}
#my ul li{list-style:none;padding:0 5px;margin:0;color:#000;border-bottom:1px solid #ddd;font-size:14px;line-height:2}
#my ul li.fr{padding:0;border:0}
#my ul li.fr label{display:none;}
#my ul li.fr img{width:50px;height:50px;padding:3px;border-left:5px solid #eee;margin-top:2px;background:#333}
#my ul li .db.fb.al{display:inline-block;width:33%;margin-right:5px;font-size:12px}
#my ul li .db.fb.al:after{float:right;content:"›";color:#888;font-weight:bold;font-family:Verdana, Geneva, sans-serif}
#my ul li div{display:inline-block;vertical-align:top}
#my ul li a{text-decoration:none;color:#000}
/* Global Navigation */
.nav{display:none;float:left;position:absolute;left:0;top:47px;width:100%;padding:0;margin:0;list-style:none;font-size:14px;border:1px solid #666;border-width:1px 0;box-shadow:0 5px 20px #333;-moz-box-shadow:0 5px 20px #333;-webkit-box-shadow:0 5px 20px #333;z-index:100}
.gn{padding:1px 9px 20px;margin:0;background:#fff}
.gn>li{padding:5px;margin:10px 0 0;border:1px solid #ccc;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;background:#eee}
.gn li li{padding:0;margin:-1px 0 0;border:0;background:transparent}
.gn li li li{margin:0;background:transparent}
.gn ul{margin:0;padding:0;list-style:none}
.gn ul ul{background:transparent}
.gn a{position:relative;text-decoration:none;display:block;padding:5px 10px;border:1px solid #bababa;border-bottom-color:#aaa;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#eee -webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#fafafa),color-stop(0.5,#fafafa),color-stop(0.5,#eaeaea));background:#eee -moz-linear-gradient(top,#fff,#fafafa);background-color:#eee;text-shadow:1px 1px 1px #fff}
.gn li a{padding:7px 10px;color:#000}
.nav .gn li a{padding-top:1px;padding-bottom:1px}
.gn li a:after{position:absolute;top:6px;right:7px;content:"›";color:#999;font-size:14px;font-weight:bold;font-family:Verdana, Geneva, sans-serif}
.nav .gn li a:after{top:0}
.gn li li a:before{content:"";display:inline-block;width:4px;height:4px;background:#999;border:0;margin:0 5px 5px 0;vertical-align:middle;background:#777 -webkit-gradient(linear,0% 0%,0% 100%,from(#aaa),to(#555));background:#777 -moz-linear-gradient(top,#aaa,#555);background-color:#777}
.gn li li a{padding-left:7px;margin:0 6px;border:0;text-shadow:none;border-top:1px dotted #adadad;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;background:transparent}
.gn li li a:after{right:2px}
.gn li li li a:before{content:"";display:inline-block;width:6px;height:8px;margin:1px 4px 0 0;vertical-align:text-top;border-left:1px solid #aaa;border-bottom:1px solid #aaa;background:none}
.gn li li li a{padding-left:20px}
.gn li li li li a{padding-left:40px}
.gn li li li li li a{padding-left:60px}
.gn em{font-size:12px}
/* Button Area */
.bna{text-align:center;padding:10px 0;margin:0}
.bna:after{content:"";display:block;clear:both}
.bn{display:inline-block;line-height:28px !important;padding:0 12px;font-size:14px;font-weight:bold;border:1px solid;text-decoration:none;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;cursor:pointer;vertical-align:middle}
.bn[type=submit], 
.bn[type=button]{position:relative;height:28px}
.bn[href]{height:28px}
.bn.dark{padding:0 8px 0 10px;margin:0;font-size:14px;display:inline-block;height:30px;line-height:30px;font-weight:bold;text-decoration:none;color:#000;text-shadow:0 1px 1px #9dd;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid}
.bn.white{padding:0 8px;border-color:#b5b5b5;background:#eee -webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#f6f6f6),color-stop(0.5,#fafafa),color-stop(0.5,#ececec));background:#eee -moz-linear-gradient(top,#fff,#f6f6f6);background-color:#eee;color:#000}
#my .bn.dark{height:28px;line-height:28px;margin:8px 0}
#my .bn.white{margin:8px 0}
#login .bn.dark{margin-top:-5px}
/* Footer */
.ft{padding:0;margin:0;list-style:none;background:#555 -webkit-gradient(linear,0% 0%,0% 100%,from(#111),to(#333),color-stop(0.1,#333),color-stop(0.9,#4b4b4b));background:#555 -moz-linear-gradient(top,#111,#333);background-color:#555;overflow:hidden;zoom:1}
.ft:after{content:"";display:block;clear:both}
.ft li{padding:0;margin-left:-1px;border-left:1px solid #2a2a2a}
.ft a{display:inline-block;padding:0 15px;border-right:1px solid #2a2a2a;border-left:1px solid #484848;color:#fff;text-shadow:0 0 2px #000;font-size:12px;font-weight:bold;line-height:32px;text-decoration:none}
/* Copyright */
.cr{position:relative;left:10px;display:inline-block;padding:0 0 0 10px;font-size:11px;line-height:32px;color:#fff;text-shadow:0 0 2px #000;border:0 !important}