@charset "utf-8";/* Yoorim Mobile Package (/m.layouts/yoorim_m_v1/) */
/* Hx */
.hx.h2{text-shadow:0 1px 1px #9dd;border-top:1px solid #449090;border-bottom:1px solid #237070;background:#6aa -webkit-gradient(linear,0% 0%,0% 100%,from(#bff),to(#6aa),color-stop(0.5,#5fc2c2),color-stop(0.5,#4aa));background:#6aa -moz-linear-gradient(top,#bff,#6aa);background-color:#6aa}
/* Global Navigation */
.gn em{color:#229aaa}
/* Button Area */
.bn.dark{text-shadow:0 1px 1px #9dd;border-color:#6aa #288 #166;background:#6aa -webkit-gradient(linear,0% 0%,0% 100%,from(#aff),to(#6aa),color-stop(0.5,#4fb2b2),color-stop(0.5,#3fa4a4));background:#6aa -moz-linear-gradient(top,#aff,#6aa);background-color:#6aa}