@charset "utf-8";/* Yoorim Mobile Package (/m.layouts/yoorim_m_v1/) */
/* Hx */
.hx.h2{text-shadow:0 1px 1px #fff;border-top:1px solid #aaa;border-bottom:1px solid #999;background:#d0d0d0 -webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#ddd),color-stop(0.5,#d8d8d8),color-stop(0.5,#c4c4c4));background:#d0d0d0 -moz-linear-gradient(top,#fff,#ddd);background-color:#d0d0d0}
/* Global Navigation */
.gn em{color:#e31}
/* Button Area */
.bn.dark{text-shadow:0 1px 1px #fff;border-color:#aaa #888 #666;background:#d0d0d0 -webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#ddd),color-stop(0.5,#d8d8d8),color-stop(0.5,#bbb));background:#d0d0d0 -moz-linear-gradient(top,#fff,#ddd);background-color:#d0d0d0}